
.topo{
display: flex;
justify-content: center;
padding: 2%;
}

.titulo{
    font-size: 28px;
}

.caixaCargos{
   
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    
}

.caixa{
    border-radius: 2%;
    width: 100px;
    height: 200px;
}