
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #000;
    height: 10vh;
}

.interface{
    max-width: 2000px;
    margin: 0% auto;
    margin-top: 0px;
}

.flex{
    display: flex;
}


header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

header a{
    color: #7d7d7d;
    text-decoration:  none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;

}

header nav ul li{
    display: inline-block ;
    padding: 0 40px;
}

.btn-login button{
    padding: 10px 40px;
    font-size:  18px;
    font-weight:  600;
    background-color: blue;
    border: 0;
    border-radius:  30px;
    cursor: pointer;
}

h2.titulo{
    color: #fff;
    font-size: 34px;
    text-align: center;
}

h2.titulo span{
    color: blue;
}

.btn-login button:hover{
    box-shadow: 0px 0px 8px rgb(51, 51, 255);
    transform: scale(1.05);
}

/* Topo do site */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 150px;
    
}

.topo-do-site h1{
    color: #fff;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: blue;
}
.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px;
    text-align: left;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top:30px;
    }
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* estilos do sobre */

section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    gap: 60px;
    display: flex;
    justify-content: space-between;
}

.sobre .sobre-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #fff;
    margin-top: 45px;
    transition: .2s;
    cursor: pointer;
}

.sobre .sobre-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff62;
}

.sobre .sobre-box i{
    font-size: 70px;
    color: blue;

}

.sobre .sobre-box h3{
    font-size: 26px;
    margin: 15px 0;
}








