@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Seymour+One&display=swap');
        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgba(0, 0, 0, 0.747);
        }
    
      
        *{
            margin: 0;
            padding: 0 ;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        .titulo{
            font-size: 20px;
            text-align: center;
            padding-bottom: 10px;
            padding-top: 20px;
        }
        .organizar{
            
            background-color: rgba(0, 0, 0, 0.9);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 50px;
            color: white;
            padding-top: 20px;
            border-radius: 15px;
            align-items: center;
            
            
            
        }
        .check{
            padding: 0px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 10px;
            background-color: rgb(87, 86, 86);
            margin: 4px;
            font-size: 15px;
          

            
            
        }
        input.checkin{
            width: 12px;
            height: 20px;
        }
        .checkin{
            padding: 30px ;
            float: inline-start;
            margin-left: 10px;
            
            
        }
        .todoschecks{
            padding-bottom: 20px;
            padding: 1px;
            margin-bottom: 20px;
        }
        input{
            padding: 15px;
            border: none;
            outline: none;
            font-size: 15px;
            
        }

        label{
            color: white;
            margin-left: 10px ;
        }
    
        .btnenviar{
            background-color: blue;
        border: none;
        padding: 15px;
        width: 60%;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        cursor: pointer;
        margin-left: 45px;
        margin-bottom: 5px;
        
        }
        .btnenviar:hover{
            box-shadow: 0px 0px 8px rgb(51, 51, 255);
            transform: scale(1.05);
        }
        .btnvoltar{
        background-color: rgba(0,0,0,0.0);   
        border: none;
        padding: 15px;
        width: 60%;
        font-size: 15px;
        cursor: pointer;
        margin-left: 45px;
        }

        a{
            text-decoration: none;
            color: white;  
        }

        